/*=========VARIABLES==========*/
:root {
    --prymary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --prymary-text-color: 46 47 66;
    --secondary-text-color: 67 68 85;
    --accent-color: 64 75 191;
    --body-bg-color: 255 255 255;
    --secondary-body-bg-color: 46 47 66;

}
/*=========/VARIABLES==========*/

/*=========COMMON STYLES==========*/

body {
   font-family: var(--prymary-font), var(--secondary-font);
   color: rgb(var(--prymary-text-color));
   background-color: rgb(var(--body-bg-color)); 
}
a {
    text-decoration: none;
    color: inherit;
    font-style: normal;  
}

ul, ol {
    list-style-type: none;
}

button {
    cursor: pointer;
}

.accent-color {
    color: rgb(var(--accent-color));
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*=========/COMMON STYLES==========*/

/*=========HEADER==========*/

.main-logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.accent-logo {
   color: rgb(77 90 229); 
}

.menu-link {
   font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
      
}

.menu-link:hover,
.menu-link:focus {
    color: rgb(var(--accent-color));
}
.menu-link:active {
    border-radius: 2px;
    width: 48px;
    height: 4px;
    color: rgb(var(--accent-color));
}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

}

.address-link:hover,
.address-link:focus {
    color: rgb(var(--accent-color));
}
/*=========/HEADER==========*/

/*=========HERO SECTION==========*/
.hero-container {
    background-color: rgb(var(--secondary-body-bg-color));
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgb(255 255 255);
}

.order-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: rgb(255 255 255);        
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: rgb(77 90 229);
}

.order-button:hover,
.order-button:focus {
    background: rgb(var(--accent-color));
}

/*=========/HERO SECTION==========*/

/*=========ABOUT SECTION==========*/
.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.about {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(var(--secondary-text-color));
}

/*=========/ABOUT SECTION==========*/

/*=========FOOTER==========*/
.page-footer {
    background-color: rgb(var(--secondary-body-bg-color));
}

.footer-logo {
   color:  rgb(244, 244, 253); 
}
.footer-prg {
    color: rgb(244 244 253);
}

/*=========/FOOTER==========*/

